<% provide(:title, "Overview: #{@account.name}") %>

<center>
  <h2>
    <%= @account.name %>
    <br>
    Overview
  </h2>
</center>

<div ng-controller='OverviewCtrl'>
  <div class="card white darken-1">
    <div class="card-content grey-text text-darken-1">
      <div ng-repeat="data in overview | orderBy: 'objective'">
        <h4 class="left-align">{{data.objective}}</h4><br>
        <table class="bordered responsive-table highlight">
          <thead>
            <tr>
              <th style='width: 40%;'>Campaign Name</th>
              <th class="right-align">RR</th>
              <th class="right-align">Impressions</th>
              <th class="right-align">CPM</th>
              <th class="right-align">Spend</th>
              <th class="right-align">Score</th>
              <th  class="right-align"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="campaign in data.campaign_data | orderBy: 'campaign_name'">
              <td>
                <a href="/overview/adsets?campaign_id={{campaign.campaign_id}}"
                   style="color: #29B6F6 !important; ">
                  {{campaign.campaign_name}}
                </a>
              </td>
              <td class="right-align">{{campaign.rr | number:2}}%</td>
              <td class="right-align">{{campaign.impressions | number}}</td>
              <td class="right-align">{{campaign.cpm | currency}}</td>
              <td class="right-align">{{campaign.spend | currency}}</td>
              <td class="right-align">{{campaign.score | number:5}}</td>
              <td>
                <i class="material-icons" style='color: #FF9800' ng-if="campaign.best == 'yes'">grade</i>
              </td>
            </tr>
          </tbody>
        </table>
        <br><br>
      </div>
    </div>
  </div>
</div>


<!--   <div class="card white darken-1">
    <div class="card-content grey-text text-darken-1">
      <span class="card-title">General Performance: {{reporting.date_range}}</span>
      <br><br>
       <div google-chart chart="statsChart" style="height: 400px;"></div>
    </div>
  </div> -->

<!--
        # impressions_daily = AccountInsight.where(account_id: 'act_1219093434772270').select(:date, :impressions).map{|k,v| {date: k[:date], impressions: k[:impressions]}}
        # website_clicks_daily = Action.where(account_id: 'act_1219093434772270', action_type: 'link_click', gender: nil, age: nil).map{|k,v| {date: k[:date], website_clicks: k[:website_clicks]}}
        # video_views = Action.where(account_id: 'act_1219093434772270', action_type: 'video_view', gender: nil, age: nil).map{|k,v| {date: k[:date], video_views: k[:value]}}
        # post_engagements = Action.where(account_id: 'act_1219093434772270', action_type: ['comment', 'post_like', 'post'], gender: nil, age: nil).map{|k,v| {date: k[:date], post_engagements: k[:value]}}

        # daily_data = impressions_daily + website_clicks_daily + video_views + post_engagements
        # daily_stats_data = daily_data.group_by{|h| h[:date]}.map{|k,v| v.reduce(:merge)}
 -->
<!--
      createStatsChart(reportingData.daily_stats_data)

    createStatsChart = (statsData)->
      statsChart = {}
      statsChart.type = 'LineChart'
      statsChart.data = [
        [
         {type: 'string', label: 'Date'}
         {type: 'string', role: 'tooltip', p: {role: 'tooltip', html: true}}
         {type: 'number', label: 'Impressions'}
         {type: 'number', label: 'Website Clicks'}
         {type: 'number', label: 'Video Views'}
         {type: 'number', label: 'Post Engagements'}
        ]
      ]

      _.forEach statsData, (n) ->
        statsChart.data.push([
          moment(n.date).format('MMM Do')
          {v: "<div style='width: 180px; padding: 20px;'>" +
              "<strong style='color: #424242'>" + moment(n.date).format("MMM D, YYYY") + "</strong></span><br><br>" +
              "<p style='font-size: 120%'><span style='color: #616161'><b>Impressions<br><span style='font-size: 200%; color:#3F6FCF;'>" + numberFilter(n.impressions) + "<br></span></p>" +
              "<p style='font-size: 120%'><span style='color: #616161'><b>Website Clicks<br><span style='font-size: 200%; color:#DC3912;'>" + numberFilter(n.website_clicks) + "<br></span></p>" +
              "<p style='font-size: 120%'><span style='color: #616161'><b>Video Views<br><span style='font-size: 200%; color:#FF9900;'>" + numberFilter(n.video_views) + "<br></span></p>" +
              "<p style='font-size: 120%'><span style='color: #616161'><b>Post Engagements<br><span style='font-size: 200%; color:#109618;'>" + numberFilter(n.post_engagements) + "<br></span></p>" +
              "</div>", p: {}
          }
          n.impressions
          n.website_clicks
          n.video_views
          n.post_engagements
        ])

      statsChart.options =
        titleTextStyle: {color: '#797575' }
        displayExactValues: true
        is3D: true
        tooltip: {isHtml: true}
        animation: { startup: true, duration: 1000, easing: 'in' }
        focusTarget: 'category'
        legend: { position: 'none'}
        series: {
          0: {targetAxisIndex: 0},
          1: {targetAxisIndex: 1},
          2: {targetAxisIndex: 1},
          3: {targetAxisIndex: 1}
        }
        hAxis: { title: '', titleTextStyle: {color: '#797575' }, textStyle: {color: '#797575' } }
        vAxes: {
          0: {title: 'Impressions', titleTextStyle: {color: '#797575' }, textStyle: {color: '#797575'}},
          1: {title: 'Website Clicks, Video Views, and Post Engagements', titleTextStyle: {color: '#797575' }, textStyle: {color: '#797575'}}
        }
        chartArea: {width: '80%', height: '70%'}
        crosshair: { trigger: 'both', orientation: 'vertical', color: 'grey', opacity: 0.5 }

      $scope.statsChart = statsChart -->
