<% provide(:title, "Reporting: #{@account.name}") %>

<center>
  <h2>
    <%= @account.name %>
    <br>
    Reporting
  </h2>
</center>

<div ng-controller='ReportingCtrl'>
  <div class="row">
    <div class='col m3'>
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1" style='height: 160px;'>
          <h4 class="center-align" style="color: #3F6FCF;">
            {{reporting.account_stats.impressions | number:0}}
          </h4>
          <h6 class="center-align">Impressions</h6><br>
        </div>
      </div>
    </div>
    <div class='col m3'>
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1" style='height: 160px;'>
          <h4 class="center-align" style="color: #DC3912">
            {{reporting.account_stats.website_clicks | number:0}}
          </h4>
          <h6 class="center-align">Website Clicks</h6><br>
        </div>
      </div>
    </div>
    <div class='col m3'>
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1" style='height: 160px;'>
          <h4 class="center-align" style="color: #8E24AA">
            {{reporting.account_stats.website_conversions | number:0}}
          </h4>
          <h6 class="center-align">Website Conversions</h6><br>
        </div>
      </div>
    </div>
    <div class='col m3'>
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1" style='height: 160px;'>
          <h4 class="center-align" style="color: #109618">
            {{reporting.account_stats.post_engagement | number:0}}
          </h4>
          <h6 class="center-align">Likes, Comments, and Shares</h6>
        </div>
      </div>
    </div>
    <div class='col m3'>
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1" style='height: 160px;'>
          <h4 class="center-align" style="color: #FF9900">
            {{reporting.account_stats.video_views | number:0}}
          </h4>
          <h6 class="center-align">Video Views</h6><br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1">
          <span class="card-title">Campaign Overview: {{reporting.date_range}}</span>
          <table class="bordered responsive-table highlight">
            <thead>
              <tr>
                <th>Objective</th>
                <th class="right-align">Results</th>
                <th class="right-align">CPR</th>
                <th class="right-align">Reach</th>
                <th class="right-align">Impressions</th>
                <th class="right-align">CPM</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if='data.results >0' ng-repeat="data in reporting.overview | orderBy: 'objectiveName'">
                <td>{{data.objectiveName}}</td>
                <td class="right-align">{{data.results | number:0}}</td>
                <td class="right-align">{{data.spend/data.results | currency}}</td>
                <td class="right-align">{{data.reach | number:0}}</td>
                <td class="right-align">{{data.impressions | number:0}}</td>
                <td class="right-align">{{data.spend/(data.impressions/1000) | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1">
          <span class="card-title">CPM by Placement: {{reporting.date_range}}</span>
          <br><br>
           <div google-chart chart="cpmChart" style="height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1">
          <span class="card-title">Audiences (CPM by Objective): {{reporting.date_range}}</span>
          <br><br>
          <div google-chart chart="audiencesChart" style="height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content grey-text text-darken-1">
          <span class="card-title">Demographics: {{reporting.date_range}}</span>
          <br><br>
          <div class="row">
            <div class="col s12 m6">
              <center><h5>Gender</h5></center>
              <div google-chart chart='genderChart' style='height: 400px;'></div>
            </div>
            <div class="col s12 m6">
              <center><h5>Age</h5></center>
              <div google-chart chart='ageChart' style='height: 400px;'></div>
            </div>
          </div>
          <br><br>
          <center><h5>Audience</h5></center>
          <div google-chart chart='generalChart' style='height: 400px;'></div>
          <br>
          <div google-chart chart='generalChartCPM' style='height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
</div>
