<% provide(:title, "Reporting: #{@account.name}") %>

<center>
  <h2>
    <%= @account.name %>
    <br>
    Reporting
  </h2>
</center>

<div ng-controller='ReportingCtrl'>
  <a class='waves-effect waves-light btn right orange darken-1 no-print'
     ng-click="generateReport('act_1219093434772270')">
    Generate PDF
  </a>
  <br><br><br>
  <div class='row'>
    <div class='col m3' ng-if='reporting.account_stats.impressions > 0'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1' style='height: 160px;'>
          <h4 class='center-align' style='color: #0888C4;'>
            {{reporting.account_stats.impressions | number:0}}
          </h4>
          <h6 class='center-align'>Impressions</h6><br>
        </div>
      </div>
    </div>
    <div class='col m3' ng-if='reporting.account_stats.website_clicks > 0'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1' style='height: 160px;'>
          <h4 class='center-align' style='color: #0888C4'>
            {{reporting.account_stats.website_clicks | number:0}}
          </h4>
          <h6 class='center-align'>Website Clicks</h6><br>
        </div>
      </div>
    </div>
    <div class='col m3' ng-if='reporting.account_stats.website_conversions > 0'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1' style='height: 160px;'>
          <h4 class='center-align' style='color: #0888C4'>
            {{reporting.account_stats.website_conversions | number:0}}
          </h4>
          <h6 class='center-align'>Website Conversions</h6><br>
        </div>
      </div>
    </div>
    <div class='col m3' ng-if='reporting.account_stats.post_engagement > 0'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1' style='height: 160px;'>
          <h4 class='center-align' style='color: #0888C4'>
            {{reporting.account_stats.post_engagement | number:0}}
          </h4>
          <h6 class='center-align'>Likes, Comments, and Shares</h6>
        </div>
      </div>
    </div>
    <div class='col m3' ng-if='reporting.account_stats.video_views > 0'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1' style='height: 160px;'>
          <h4 class='center-align' style='color: #0888C4'>
            {{reporting.account_stats.video_views | number:0}}
          </h4>
          <h6 class='center-align'>Video Views</h6><br>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>Campaign Overview: {{reporting.date_range}}</span>
          <table class='bordered responsive-table highlight'>
            <thead>
              <tr>
                <th>Objective</th>
                <th class='right-align'>Results</th>
                <th class='right-align'>CPR</th>
                <th class='right-align'>Reach</th>
                <th class='right-align'>Impressions</th>
                <th class='right-align'>CPM</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if='data.results > 0'
                  ng-repeat="data in reporting.overview | orderBy: 'objectiveName'">
                <td>{{data.objectiveName}}</td>
                <td class='right-align'>{{data.results | number:0}}</td>
                <td class='right-align'>{{data.spend/data.results | currency}}</td>
                <td class='right-align'>{{data.reach | number:0}}</td>
                <td class='right-align'>{{data.impressions | number:0}}</td>
                <td class='right-align'>{{data.spend/(data.impressions/1000) | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>CPM by Placement: {{reporting.date_range}}</span>
          <br><br>
           <div google-chart chart='cpmChart' style='height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>Audiences (CPM by Objective): {{reporting.date_range}}</span>
          <br><br>
          <div google-chart chart='audiencesChart' style='height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>Demographics: {{reporting.date_range}}</span>
          <br><br>
          <div google-chart chart='ageGenderChart' style='height: 400px;'></div>
          <br><br>
          <center><h5>Audience</h5></center>
          <div google-chart chart='generalChart' style='height: 400px;'></div>
          <br>
          <div google-chart chart='generalChartCPM' style='height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>Ad Formats: {{reporting.date_range}}</span>
          <br><br>
           <div google-chart chart='adFormatChart' style='height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>Ad Creative: {{reporting.date_range}}</span>
          <br><br>
           <div google-chart chart='adDataChart' style='height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>Audience Targeting: {{reporting.date_range}}</span>
          <br><br>
          <table class='bordered responsive-table highlight centered'>
            <thead>
              <tr>
                <th ng-repeat="data in reporting.targeting">
                  {{data.name}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="data in reporting.targeting" class='center-align'>
                  People Ages: {{data.min_age}}-{{data.max_age}}<span ng-if='data.max_age >=65'>+</span>
                <td>
              </tr>
              <tr>
                <td ng-repeat="data in reporting.targeting" class='center-align'>
                  <span ng-if='data.interests.length > 0'>
                    <b>Interests</b>
                    <p ng-repeat="interest in data.interests">
                      {{interest}}
                    </p>
                  </span>
                </td>
              </tr>
              <tr>
                <td ng-repeat="data in reporting.targeting" class='center-align'>
                  <span ng-if='data.cities.length > 0'>
                    <b>Geolocations</b>
                    <p ng-repeat="city in data.cities">
                      {{city}}
                    </p>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class='row' ng-repeat='data in reporting.best_ads'>
    <div class='col s12 m12'>
      <div class='card white darken-1'>
        <div class='card-content grey-text text-darken-1'>
          <span class='card-title'>Best Ads: {{data.objective}} : {{reporting.date_range}}</span>
          <br><br>
          <div class='row'>
            <div ng-repeat='ad in data.ads'>
              <div class='col m6 center-align"'>
                <center>
                  <b>{{ad.simple_name}}</b><br>
                  Results: {{ad.results}}<br>
                  CPR: {{ad.cpr}}<br>
                  Reach: {{ad.reach}}<br>
                  Impressions: {{ad.impressions}}<br>
                  CPM: {{ad.cpm}}
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
