<h2 class="center">Employees</h2>

<a class="waves-effect waves-light btn">NEW EMPLOYEE</a>

<ul class="collection">
  <% @users.each do |user| %>
  <li class="collection-item avatar white">
    <i class="material-icons circle">person</i>
    <span class="title">
       <%= user.first_name %> <%= user.last_name %>
    </span>
    <p>
      <%= user.email %><br>
      <%= user.phone_number %>
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <% end %>
