<% provide(:title, 'Profile') %>
<center>
  <h1>Profile</h1>
</center>

<div ng-controller='ProfileCtrl'>
  <div id="status"></div>
  <a class="waves-effect waves-light btn indigo" ng-click="Login()">LOGIN WITH FACEBOOK</a>
  <a class="waves-effect waves-light btn indigo" ng-click="Logout()">LOGOUT WITH FACEBOOK</a>
  <a class="waves-effect waves-light btn indigo" ng-click="checkStatus()">Status</a>


</div>
