[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: '#EEEEEE';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
  @page { margin: 0; }
  body { margin: 1.6cm; }
}

.material-icons active {
  position: relative; top: 20px !important;
}

#toast-container > .toast { background-image: none !important; padding-left: 25px; }
#toast-container > .toast:before {
  position: fixed;
  font-size: 24px;
  line-height: 18px;
  float: right;
}
/*#toast-container > div { opacity: 0.9; }
.toast-success { background-color: $green-darken-2; }
.toast-info { background-color: $indigo-accent-2; }
.toast-error { background-color: $red-darken-1; }*/
